:not(:defined) {
    visibility: hidden;
}

h1 {
    color: green;
}

div {
    margin: 1em;
}

.drawer-wrapper {
    display: none;
}
.color-wrapper {
    display: none;
}

.carousel-wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
    max-width: 80vw;
    margin: 0 auto;

}
